<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produits Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="border: 50%;">
    <ion-card-header>
      <img src="assets/chariot.png" alt="chariot-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="text-align: center;">PREND ton chariot et COMMENCE à faire les courses</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>
</ion-content>
